<EditForm Model="Data" class="vak4-form">

    <div class="vak2-title">Vak IV &ndash; WEDDEN, LONEN, WERKLOOSHEIDSUITKERINGEN, WETTELIJKE UITKERINGEN BIJ ZIEKTE OF INVALIDITEIT, VERVANGINGSINKOMSTEN EN WERKLOOSHEIDSUITKERINGEN MET BEDRIJFSTOESLAG</div>

    <div class="vak2-section-header">A. GEWONE BEZOLDIGINGEN</div>

    <!-- Kolomhoofden -->
    <div class="vak4-header-row">
        <div></div>
        <div class="vak4-col-head">Belastingplichtige</div>
        <div class="vak4-col-head">Partner</div>
    </div>

    <!-- 1. Wedden/lonen fiches 281.10 -->
    <div class="vak4-group">
        <div class="vak4-q-label">1. Wedden, lonen, enz. (andere dan bedoeld in 15, a en 16, a):</div>

        <!-- a) volgens fiches 281.10 - Meerdere fiches mogelijk -->
        <div class="vak4-subrow">
            <div class="vak4-q-text">a) volgens fiches 281.10:</div>
        </div>

        @for (int i = 0; i < Data.Fiches1250.Count; i++)
        {
            var index = i;
            <div class="vak4-subrow vak4-fiche-row">
                <div class="vak4-q-text vak4-indent">
                    @if (i == 0)
                    {
                        <span>Fiche @(i + 1)</span>
                    }
                    else
                    {
                        <span>Fiche @(i + 1)</span>
                        <button type="button" class="btn btn-sm btn-outline-danger ms-2" @onclick="() => RemoveFiche(index)" title="Verwijder deze fiche">
                            <span class="material-icons" style="font-size: 1rem;">delete</span>
                        </button>
                    }
                </div>
                <div class="vak4-col-duo">
                    <div class="vak4-input-cell vak4-orange">
                        <span class="vak2-code">(250)</span>
                        <InputNumber @bind-Value="Data.Fiches1250[index]" class="vak4-amount" />
                    </div>
                    <div class="vak4-input-cell vak4-orange">
                        <span class="vak2-code">(250)</span>
                        <InputNumber @bind-Value="Data.Fiches2250[index]" class="vak4-amount" />
                    </div>
                </div>
            </div>
        }

        <!-- Knop om nieuwe fiche toe te voegen -->
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">
                <button type="button" class="btn btn-sm btn-outline-primary" @onclick="AddFiche">
                    <span class="material-icons" style="font-size: 1rem; vertical-align: middle;">add</span>
                    Fiche toevoegen
                </button>
            </div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell">
                    <span class="fw-bold">Subtotaal:</span>
                    <span class="vak4-readonly-amount">@Data.Code1250.ToString("N2")</span>
                </div>
                <div class="vak4-input-cell">
                    <span class="fw-bold">Subtotaal:</span>
                    <span class="vak4-readonly-amount">@Data.Code2250.ToString("N2")</span>
                </div>
            </div>
        </div>

        <!-- b) Niet op fiche vermeld -->
        <div class="vak4-subrow vak4-hint-row">
            <div class="vak4-q-text vak4-indent">b) die niet op een fiche 281.10 zijn vermeld:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell vak4-orange">
                    <span class="vak2-code">(250)</span>
                    <InputNumber @bind-Value="Data.Code1250B" class="vak4-amount" />
                </div>
                <div class="vak4-input-cell vak4-orange">
                    <span class="vak2-code">(250)</span>
                    <InputNumber @bind-Value="Data.Code2250B" class="vak4-amount" />
                </div>
            </div>
        </div>
    </div>

    <!-- 2. Totaal rubrieken 1a + 1b -->
    <div class="vak4-row">
        <div class="vak4-q-text">2. Totaal van de rubrieken 1, a en 1, b:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell">
                <span class="vak2-code">1250-11</span>
                <span class="vak4-readonly-amount fw-bold">@Data.Total1250.ToString("N2")</span>
            </div>
            <div class="vak4-input-cell">
                <span class="vak2-code">2250-78</span>
                <span class="vak4-readonly-amount fw-bold">@Data.Total2250.ToString("N2")</span>
            </div>
        </div>
    </div>

    <!-- 3. Vervroegd vakantiegeld -->
    <div class="vak4-row">
        <div class="vak4-q-text">3. Vervroegd vakantiegeld (andere dan bedoeld in 15, b en 16, b):</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell">
                <span class="vak2-code">1251-10</span>
                <InputNumber @bind-Value="Data.Code1251" class="vak4-amount" />
            </div>
            <div class="vak4-input-cell">
                <span class="vak2-code">2251-77</span>
                <InputNumber @bind-Value="Data.Code2251" class="vak4-amount" />
            </div>
        </div>
    </div>

    <!-- 4. Achterstallen -->
    <div class="vak4-row">
        <div class="vak4-q-text">4. Achterstallen (andere dan bedoeld in 8, b; 15, c en 16, c):</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell">
                <span class="vak2-code">1252-09</span>
                <InputNumber @bind-Value="Data.Code1252" class="vak4-amount" />
            </div>
            <div class="vak4-input-cell">
                <span class="vak2-code">2252-76</span>
                <InputNumber @bind-Value="Data.Code2252" class="vak4-amount" />
            </div>
        </div>
    </div>

    <!-- 5. Opzeggingsvergoedingen -->
    <div class="vak4-row">
        <div class="vak4-q-text">5. Opzeggingsvergoedingen (andere dan bedoeld in 15, d en 16, d) en inschakelingsvergoedingen:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell">
                <span class="vak2-code">1308-50</span>
                <InputNumber @bind-Value="Data.Code1308" class="vak4-amount" />
            </div>
            <div class="vak4-input-cell">
                <span class="vak2-code">2308-20</span>
                <InputNumber @bind-Value="Data.Code2308" class="vak4-amount" />
            </div>
        </div>
    </div>

    <!-- 6. Bezoldigingen december 2025 overheid -->
    <div class="vak4-row">
        <div class="vak4-q-text">6. Bezoldigingen december 2025 (overheid):</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell">
                <span class="vak2-code">1247-14</span>
                <InputNumber @bind-Value="Data.Code1247" class="vak4-amount" />
            </div>
            <div class="vak4-input-cell">
                <span class="vak2-code">2247-81</span>
                <InputNumber @bind-Value="Data.Code2247" class="vak4-amount" />
            </div>
        </div>
    </div>

    <!-- 7. Woon-werkverkeer -->
    <div class="vak4-group">
        <div class="vak4-q-label">7. Vergoedingen en voordelen voor woon-werkverkeer:</div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">a) totaal bedrag:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell">
                    <span class="vak2-code">1254-07</span>
                    <InputNumber @bind-Value="Data.Code1254" class="vak4-amount" />
                </div>
                <div class="vak4-input-cell">
                    <span class="vak2-code">2254-74</span>
                    <InputNumber @bind-Value="Data.Code2254" class="vak4-amount" />
                </div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">b) vrijstelling:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell">
                    <span class="vak2-code">1255-06</span>
                    <InputNumber @bind-Value="Data.Code1255" class="vak4-amount" />
                </div>
                <div class="vak4-input-cell">
                    <span class="vak2-code">2255-73</span>
                    <InputNumber @bind-Value="Data.Code2255" class="vak4-amount" />
                </div>
            </div>
        </div>
    </div>

    <!-- 8. Niet-recurrente voordelen -->
    <div class="vak4-group">
        <div class="vak4-q-label">8. Niet-recurrente resultaatsgebonden voordelen: &nbsp; a) gewone:</div>
        <div class="vak4-subrow">
            <div class="vak4-q-text"></div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell">
                    <span class="vak2-code">1242-19</span>
                    <InputNumber @bind-Value="Data.Code1242" class="vak4-amount" />
                </div>
                <div class="vak4-input-cell">
                    <span class="vak2-code">2242-86</span>
                    <InputNumber @bind-Value="Data.Code2242" class="vak4-amount" />
                </div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">b) achterstallen:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell">
                    <span class="vak2-code">1243-18</span>
                    <InputNumber @bind-Value="Data.Code1243" class="vak4-amount" />
                </div>
                <div class="vak4-input-cell">
                    <span class="vak2-code">2243-85</span>
                    <InputNumber @bind-Value="Data.Code2243" class="vak4-amount" />
                </div>
            </div>
        </div>
    </div>

    <!-- 9. Werkgeverstussenkomst privé-pc -->
    <div class="vak4-group">
        <div class="vak4-q-label">9. Werkgeverstussenkomst in een privé-pc:</div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">a) totale bedrag van de tussenkomsten:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell">
                    <span class="vak2-code">1240-21</span>
                    <InputNumber @bind-Value="Data.Code1240" class="vak4-amount" />
                </div>
                <div class="vak4-input-cell">
                    <span class="vak2-code">2240-88</span>
                    <InputNumber @bind-Value="Data.Code2240" class="vak4-amount" />
                </div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">b) vrijstelling:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell">
                    <span class="vak2-code">1241-20</span>
                    <InputNumber @bind-Value="Data.Code1241" class="vak4-amount" />
                </div>
                <div class="vak4-input-cell">
                    <span class="vak2-code">2241-87</span>
                    <InputNumber @bind-Value="Data.Code2241" class="vak4-amount" />
                </div>
            </div>
        </div>
    </div>

    <!-- 10. Overuren horeca -->
    <div class="vak4-group">
        <div class="vak4-q-label">10. Vrijstelling in aanmerking komende bezoldigingen voor overuren in de horeca:</div>
        <!-- 10a. Zonder GKS -->
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">a) bij werkgevers zonder een geregistreerd kassasysteem:</div>
            <div class="vak4-col-duo"></div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent2">1) gewone bezoldigingen:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell">
                    <span class="vak2-code">1335-23</span>
                    <InputNumber @bind-Value="Data.Code1335" class="vak4-amount" />
                </div>
                <div class="vak4-input-cell">
                    <span class="vak2-code">2335-90</span>
                    <InputNumber @bind-Value="Data.Code2335" class="vak4-amount" />
                </div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent3">&#x2192;&nbsp; aantal overuren:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell">
                    <span class="vak2-code">1336-22</span>
                    <InputNumber @bind-Value="Data.Code1336" class="vak4-amount vak4-count" />
                </div>
                <div class="vak4-input-cell">
                    <span class="vak2-code">2336-89</span>
                    <InputNumber @bind-Value="Data.Code2336" class="vak4-amount vak4-count" />
                </div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent2">2) achterstallen:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell">
                    <span class="vak2-code">1337-21</span>
                    <InputNumber @bind-Value="Data.Code1337" class="vak4-amount" />
                </div>
                <div class="vak4-input-cell">
                    <span class="vak2-code">2337-88</span>
                    <InputNumber @bind-Value="Data.Code2337" class="vak4-amount" />
                </div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent3">&#x2192;&nbsp; aantal overuren:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell">
                    <span class="vak2-code">1338-20</span>
                    <InputNumber @bind-Value="Data.Code1338" class="vak4-amount vak4-count" />
                </div>
                <div class="vak4-input-cell">
                    <span class="vak2-code">2338-87</span>
                    <InputNumber @bind-Value="Data.Code2338" class="vak4-amount vak4-count" />
                </div>
            </div>
        </div>
        <!-- 10b. Met GKS -->
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">b) bij werkgevers met een geregistreerd kassasysteem:</div>
            <div class="vak4-col-duo"></div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent2">1) gewone bezoldigingen:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell">
                    <span class="vak2-code">1395-60</span>
                    <InputNumber @bind-Value="Data.Code1395" class="vak4-amount" />
                </div>
                <div class="vak4-input-cell">
                    <span class="vak2-code">2395-30</span>
                    <InputNumber @bind-Value="Data.Code2395" class="vak4-amount" />
                </div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent3">&#x2192;&nbsp; aantal overuren:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell">
                    <span class="vak2-code">1396-59</span>
                    <InputNumber @bind-Value="Data.Code1396" class="vak4-amount vak4-count" />
                </div>
                <div class="vak4-input-cell">
                    <span class="vak2-code">2396-29</span>
                    <InputNumber @bind-Value="Data.Code2396" class="vak4-amount vak4-count" />
                </div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent2">2) achterstallen:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell">
                    <span class="vak2-code">1397-58</span>
                    <InputNumber @bind-Value="Data.Code1397" class="vak4-amount" />
                </div>
                <div class="vak4-input-cell">
                    <span class="vak2-code">2397-28</span>
                    <InputNumber @bind-Value="Data.Code2397" class="vak4-amount" />
                </div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent3">&#x2192;&nbsp; aantal overuren:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell">
                    <span class="vak2-code">1398-57</span>
                    <InputNumber @bind-Value="Data.Code1398" class="vak4-amount vak4-count" />
                </div>
                <div class="vak4-input-cell">
                    <span class="vak2-code">2398-27</span>
                    <InputNumber @bind-Value="Data.Code2398" class="vak4-amount vak4-count" />
                </div>
            </div>
        </div>
    </div>

    <!-- 11. Flexi-jobs -->
    <div class="vak4-row">
        <div class="vak4-q-text">11. Voor vrijstelling in aanmerking komende bezoldigingen uit een flexi-job toegekend door een niet-gepensioneerde:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell">
                <span class="vak2-code">1262-96</span>
                <InputNumber @bind-Value="Data.Code1262" class="vak4-amount" />
            </div>
            <div class="vak4-input-cell">
                <span class="vak2-code">2262-66</span>
                <InputNumber @bind-Value="Data.Code2262" class="vak4-amount" />
            </div>
        </div>
    </div>

    <!-- 12. Vrijwilligers brandweer/ambulanciers -->
    <div class="vak4-row">
        <div class="vak4-q-text">12. Voor vrijstelling in aanmerking komende vergoedingen van vrijwillige brandweerlieden, vrijwillige ambulanciers en vrijwilligers van de civiele bescherming:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell">
                <span class="vak2-code">1391-64</span>
                <InputNumber @bind-Value="Data.Code1391" class="vak4-amount" />
            </div>
            <div class="vak4-input-cell">
                <span class="vak2-code">2391-34</span>
                <InputNumber @bind-Value="Data.Code2391" class="vak4-amount" />
            </div>
        </div>
    </div>

    <!-- 13. Vrijwillige overuren -->
    <div class="vak4-group">
        <div class="vak4-q-label">13. Voor vrijstelling in aanmerking komende bezoldigingen voor vrijwillige overuren:</div>
        <!-- 13a -->
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">a) gepresteerd in 2025 in het kader van de relance:</div>
            <div class="vak4-col-duo"></div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent2">1) bezoldigingen:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1306-52</span><InputNumber @bind-Value="Data.Code1306" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2306-22</span><InputNumber @bind-Value="Data.Code2306" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent2">2) overuren:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1307-51</span><InputNumber @bind-Value="Data.Code1307" class="vak4-amount vak4-count" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2307-21</span><InputNumber @bind-Value="Data.Code2307" class="vak4-amount vak4-count" /></div>
            </div>
        </div>
        <!-- 13b -->
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">b) gepresteerd in 2024 in het kader van de relance:</div>
            <div class="vak4-col-duo"></div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent2">1) bezoldigingen:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1368-87</span><InputNumber @bind-Value="Data.Code1368" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2368-57</span><InputNumber @bind-Value="Data.Code2368" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent2">2) overuren:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1369-86</span><InputNumber @bind-Value="Data.Code1369" class="vak4-amount vak4-count" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2369-56</span><InputNumber @bind-Value="Data.Code2369" class="vak4-amount vak4-count" /></div>
            </div>
        </div>
        <!-- 13c -->
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">c) gepresteerd van 1.7 tot en met 31.12.2023 in het kader van de relance:</div>
            <div class="vak4-col-duo"></div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent2">1) bezoldigingen:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1381-74</span><InputNumber @bind-Value="Data.Code1381" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2381-44</span><InputNumber @bind-Value="Data.Code2381" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent2">2) overuren:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1382-73</span><InputNumber @bind-Value="Data.Code1382" class="vak4-amount vak4-count" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2382-43</span><InputNumber @bind-Value="Data.Code2382" class="vak4-amount vak4-count" /></div>
            </div>
        </div>
    </div>

    <!-- 14. 33% horeca/gezondheidszorg gepensioneerden -->
    <div class="vak4-row">
        <div class="vak4-q-text">14. Tegen 33% belastbare bezoldigingen van gelegenheidswerknemers in de horeca en van gepensioneerden in de gezondheidszorg:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1263-95</span><InputNumber @bind-Value="Data.Code1263" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2263-65</span><InputNumber @bind-Value="Data.Code2263" class="vak4-amount" /></div>
        </div>
    </div>

    <!-- 15. Sportbeoefenaars -->
    <div class="vak4-group">
        <div class="vak4-q-label">15. Door sportbeoefenaars voor hun sportieve activiteiten verkregen:</div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">a) wedden, lonen, enz.:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1273-85</span><InputNumber @bind-Value="Data.Code1273" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2273-55</span><InputNumber @bind-Value="Data.Code2273" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">b) vervroegd vakantiegeld:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1274-84</span><InputNumber @bind-Value="Data.Code1274" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2274-54</span><InputNumber @bind-Value="Data.Code2274" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">c) achterstallen:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1275-83</span><InputNumber @bind-Value="Data.Code1275" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2275-53</span><InputNumber @bind-Value="Data.Code2275" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">d) opzeggingsvergoedingen:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1276-82</span><InputNumber @bind-Value="Data.Code1276" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2276-52</span><InputNumber @bind-Value="Data.Code2276" class="vak4-amount" /></div>
            </div>
        </div>
    </div>

    <!-- 16. Scheidsrechters/trainers -->
    <div class="vak4-group">
        <div class="vak4-q-label">16. Door scheidsrechters voor hun activiteiten als scheidsrechter tijdens sportwedstrijden, en door opleiders, trainers en begeleiders voor hun activiteiten voor sportbeoefenaars verkregen:</div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">a) wedden, lonen, enz.:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1277-81</span><InputNumber @bind-Value="Data.Code1277" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2277-51</span><InputNumber @bind-Value="Data.Code2277" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">b) vervroegd vakantiegeld:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1278-80</span><InputNumber @bind-Value="Data.Code1278" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2278-50</span><InputNumber @bind-Value="Data.Code2278" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">c) achterstallen:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1279-79</span><InputNumber @bind-Value="Data.Code1279" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2279-49</span><InputNumber @bind-Value="Data.Code2279" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">d) opzeggingsvergoedingen:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1280-78</span><InputNumber @bind-Value="Data.Code1280" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2280-48</span><InputNumber @bind-Value="Data.Code2280" class="vak4-amount" /></div>
            </div>
        </div>
    </div>

    <!-- 17. Impulsfonds huisarts -->
    <div class="vak4-row">
        <div class="vak4-q-text">17. Premie van het Impulsfonds voor de huisartsengeneeskunde verkregen door een erkend huisarts om zich te vestigen in een 'prioritaire' zone:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1267-91</span><InputNumber @bind-Value="Data.Code1267" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2267-61</span><InputNumber @bind-Value="Data.Code2267" class="vak4-amount" /></div>
        </div>
    </div>

    <!-- 18. Niet-ingehouden sociale bijdragen -->
    <div class="vak4-row">
        <div class="vak4-q-text">18. Niet ingehouden persoonlijke sociale bijdragen:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1257-04</span><InputNumber @bind-Value="Data.Code1257" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2257-71</span><InputNumber @bind-Value="Data.Code2257" class="vak4-amount" /></div>
        </div>
    </div>

    <!-- 19. Andere beroepskosten -->
    <div class="vak4-row">
        <div class="vak4-q-text">19. Andere beroepskosten <em>(alleen invullen als u geen toepassing van het wettelijk forfait wenst):</em></div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1258-03</span><InputNumber @bind-Value="Data.Code1258" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2258-70</span><InputNumber @bind-Value="Data.Code2258" class="vak4-amount" /></div>
        </div>
    </div>

    <!-- ══ B. WERKLOOSHEIDSUITKERINGEN ══ -->
    <div class="vak2-section-header">B. WERKLOOSHEIDSUITKERINGEN</div>
    <div class="vak4-header-row"><div></div><div class="vak4-col-head">Belastingplichtige</div><div class="vak4-col-head">Partner</div></div>

    <div class="vak4-group">
        <div class="vak4-q-label">1. Uitkeringen zonder anciënniteitstoeslag:</div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">a) gewone uitkeringen (wettelijke) en aanvullende:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1260-01</span><InputNumber @bind-Value="Data.Code1260" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2260-68</span><InputNumber @bind-Value="Data.Code2260" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">b) aanvullende uitkeringen van december 2025 (overheid):</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1304-54</span><InputNumber @bind-Value="Data.Code1304" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2304-24</span><InputNumber @bind-Value="Data.Code2304" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">c) achterstallen:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1261-97</span><InputNumber @bind-Value="Data.Code1261" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2261-67</span><InputNumber @bind-Value="Data.Code2261" class="vak4-amount" /></div>
            </div>
        </div>
    </div>

    <div class="vak4-group">
        <div class="vak4-q-label">2. Uitkeringen met anciënniteitstoeslag:</div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">a) gewone uitkeringen (wettelijke):</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1264-94</span><InputNumber @bind-Value="Data.Code1264" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2264-64</span><InputNumber @bind-Value="Data.Code2264" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">b) achterstallen:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1265-93</span><InputNumber @bind-Value="Data.Code1265" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2265-63</span><InputNumber @bind-Value="Data.Code2265" class="vak4-amount" /></div>
            </div>
        </div>
    </div>

    <!-- ══ C. WETTELIJKE UITKERINGEN ZIEKTE/INVALIDITEIT ══ -->
    <div class="vak2-section-header">C. WETTELIJKE UITKERINGEN BIJ ZIEKTE OF INVALIDITEIT</div>
    <div class="vak4-header-row"><div></div><div class="vak4-col-head">Belastingplichtige</div><div class="vak4-col-head">Partner</div></div>

    <div class="vak4-row">
        <div class="vak4-q-text">1. Gewone uitkeringen:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1266-92</span><InputNumber @bind-Value="Data.Code1266" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2266-62</span><InputNumber @bind-Value="Data.Code2266" class="vak4-amount" /></div>
        </div>
    </div>
    <div class="vak4-row">
        <div class="vak4-q-text">2. Uitkeringen van december 2025 (overheid):</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1303-55</span><InputNumber @bind-Value="Data.Code1303" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2303-25</span><InputNumber @bind-Value="Data.Code2303" class="vak4-amount" /></div>
        </div>
    </div>
    <div class="vak4-row">
        <div class="vak4-q-text">3. Achterstallen:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1268-90</span><InputNumber @bind-Value="Data.Code1268" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2268-60</span><InputNumber @bind-Value="Data.Code2268" class="vak4-amount" /></div>
        </div>
    </div>

    <!-- ══ D. VERVANGINGSINKOMSTEN ══ -->
    <div class="vak2-section-header">D. VERVANGINGSINKOMSTEN</div>
    <div class="vak4-header-row"><div></div><div class="vak4-col-head">Belastingplichtige</div><div class="vak4-col-head">Partner</div></div>

    <div class="vak4-group">
        <div class="vak4-q-label">1. Aanvullende vergoedingen betaald door een gewezen werkgever krachtens een cao of een individuele overeenkomst:</div>
        <!-- a) Met doorbetalingsclausule -->
        <div class="vak4-subrow"><div class="vak4-q-text vak4-indent">a) met een clausule van doorbetaling bij werkhervatting:</div><div class="vak4-col-duo"></div></div>
        <div class="vak4-subrow"><div class="vak4-q-text vak4-indent2">verkregen bovenop werkloosheidsuitkeringen met bedrijfstoeslag (voorheen brugpensioenen):</div><div class="vak4-col-duo"></div></div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent3">a) gewone vergoedingen:</div>
            <div class="vak4-col-duo"></div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent3">1. voor periodes tot 31.12.2015 (# achterstallen):</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1319-39</span><InputNumber @bind-Value="Data.Code1319" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2319-09</span><InputNumber @bind-Value="Data.Code2319" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent3">2. voor periodes vanaf 1.1.2016 (# achterstallen):</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1321-37</span><InputNumber @bind-Value="Data.Code1321" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2321-07</span><InputNumber @bind-Value="Data.Code2321" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent3">b. vergoedingen van december 2025 (overheid):</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1322-36</span><InputNumber @bind-Value="Data.Code1322" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2322-06</span><InputNumber @bind-Value="Data.Code2322" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow"><div class="vak4-q-text vak4-indent3">c. achterstallen:</div><div class="vak4-col-duo"></div></div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent3">1. voor periodes tot 31.12.2015:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1324-34</span><InputNumber @bind-Value="Data.Code1324" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2324-04</span><InputNumber @bind-Value="Data.Code2324" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent3">2. voor periodes vanaf 1.1.2016:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1339-19</span><InputNumber @bind-Value="Data.Code1339" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2339-86</span><InputNumber @bind-Value="Data.Code2339" class="vak4-amount" /></div>
            </div>
        </div>
        <!-- verkregen bovenop werkloosheid (volledig werkloos) -->
        <div class="vak4-subrow"><div class="vak4-q-text vak4-indent2">verkregen bovenop werkloosheidsuitkeringen die u als volledig werkloze hebt verkregen of had kunnen verkrijgen als u het werk niet had hervat:</div><div class="vak4-col-duo"></div></div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent3">a. gewone vergoedingen:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1292-66</span><InputNumber @bind-Value="Data.Code1292" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2292-36</span><InputNumber @bind-Value="Data.Code2292" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent3">b. vergoedingen van december 2025 (overheid):</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1300-58</span><InputNumber @bind-Value="Data.Code1300" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2300-28</span><InputNumber @bind-Value="Data.Code2300" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent3">c. achterstallen:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1293-65</span><InputNumber @bind-Value="Data.Code1293" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2293-35</span><InputNumber @bind-Value="Data.Code2293" class="vak4-amount" /></div>
            </div>
        </div>
        <!-- b) Zonder doorbetalingsclausule -->
        <div class="vak4-subrow"><div class="vak4-q-text vak4-indent">b) zonder clausule van doorbetaling bij werkhervatting:</div><div class="vak4-col-duo"></div></div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent2">1) gewone vergoedingen:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1294-64</span><InputNumber @bind-Value="Data.Code1294" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2294-34</span><InputNumber @bind-Value="Data.Code2294" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent2">2) vergoedingen van december 2025 (overheid):</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1301-57</span><InputNumber @bind-Value="Data.Code1301" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2301-27</span><InputNumber @bind-Value="Data.Code2301" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent2">3) achterstallen:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1295-63</span><InputNumber @bind-Value="Data.Code1295" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2295-33</span><InputNumber @bind-Value="Data.Code2295" class="vak4-amount" /></div>
            </div>
        </div>
        <!-- Werkhervatting -->
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">Hebt u na uw ontslag het werk hervat bij een andere werkgever of als zelfstandige?</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell">
                    <span class="vak2-code">1297-61</span>
                    <label><InputCheckbox @bind-Value="Data.Code1297" class="vak2-check" /> Ja</label>
                    &nbsp;
                    <span class="vak2-code">1298-60</span>
                    <label><InputCheckbox @bind-Value="Data.Code1298" class="vak2-check" /> Neen</label>
                </div>
                <div class="vak4-input-cell">
                    <span class="vak2-code">2297-31</span>
                    <label><InputCheckbox @bind-Value="Data.Code2297" class="vak2-check" /> Ja</label>
                    &nbsp;
                    <span class="vak2-code">2298-30</span>
                    <label><InputCheckbox @bind-Value="Data.Code2298" class="vak2-check" /> Neen</label>
                </div>
            </div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">2. Aanvullende ziekte- of invaliditeitsuitkeringen:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1269-89</span><InputNumber @bind-Value="Data.Code1269" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2269-59</span><InputNumber @bind-Value="Data.Code2269" class="vak4-amount" /></div>
        </div>
    </div>
    <div class="vak4-row">
        <div class="vak4-q-text">3. Uitkeringen bij beroepsziekte of arbeidsongeval:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1270-88</span><InputNumber @bind-Value="Data.Code1270" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2270-58</span><InputNumber @bind-Value="Data.Code2270" class="vak4-amount" /></div>
        </div>
    </div>
    <div class="vak4-row">
        <div class="vak4-q-text">4. Eenmalige premie voor bepaalde begunstigden van een COVID-19-overbruggingsrecht:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1309-49</span><InputNumber @bind-Value="Data.Code1309" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2309-19</span><InputNumber @bind-Value="Data.Code2309" class="vak4-amount" /></div>
        </div>
    </div>
    <div class="vak4-row">
        <div class="vak4-q-text">5. Andere:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1271-87</span><InputNumber @bind-Value="Data.Code1271" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2271-57</span><InputNumber @bind-Value="Data.Code2271" class="vak4-amount" /></div>
        </div>
    </div>
    <div class="vak4-row">
        <div class="vak4-q-text">6. Onder 2, 3 en 5 bedoelde uitkeringen van december 2025 (overheid):</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1302-56</span><InputNumber @bind-Value="Data.Code1302" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2302-26</span><InputNumber @bind-Value="Data.Code2302" class="vak4-amount" /></div>
        </div>
    </div>
    <div class="vak4-row">
        <div class="vak4-q-text">7. Achterstallen van onder 2, 3 en 5 bedoelde uitkeringen:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1272-86</span><InputNumber @bind-Value="Data.Code1272" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2272-56</span><InputNumber @bind-Value="Data.Code2272" class="vak4-amount" /></div>
        </div>
    </div>

    <!-- ══ E. WERKLOOSHEIDSUITKERINGEN MET BEDRIJFSTOESLAG ══ -->
    <div class="vak2-section-header">E. WERKLOOSHEIDSUITKERINGEN MET BEDRIJFSTOESLAG (voorheen brugpensioenen)</div>
    <div class="vak4-header-row"><div></div><div class="vak4-col-head">Belastingplichtige</div><div class="vak4-col-head">Partner</div></div>

    <div class="vak4-group">
        <div class="vak4-q-label">1. Wettelijke werkloosheidsuitkeringen:</div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">a) gewone:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1281-77</span><InputNumber @bind-Value="Data.Code1281" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2281-47</span><InputNumber @bind-Value="Data.Code2281" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">b) achterstallen:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1282-76</span><InputNumber @bind-Value="Data.Code1282" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2282-46</span><InputNumber @bind-Value="Data.Code2282" class="vak4-amount" /></div>
            </div>
        </div>
    </div>

    <div class="vak4-group">
        <div class="vak4-q-label">2. Bedrijfstoeslag:</div>
        <div class="vak4-subrow"><div class="vak4-q-text vak4-indent">a) gewone bedrijfstoeslag:</div><div class="vak4-col-duo"></div></div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent2">1) voor periodes tot 31.12.2015 (# achterstallen):</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1235-26</span><InputNumber @bind-Value="Data.Code1235" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2235-93</span><InputNumber @bind-Value="Data.Code2235" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent2">2) voor periodes vanaf 1.1.2016 (# achterstallen):</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1327-31</span><InputNumber @bind-Value="Data.Code1327" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2327-01</span><InputNumber @bind-Value="Data.Code2327" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow"><div class="vak4-q-text vak4-indent">b) achterstallen:</div><div class="vak4-col-duo"></div></div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent2">1) voor periodes tot 31.12.2015:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1236-25</span><InputNumber @bind-Value="Data.Code1236" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2236-92</span><InputNumber @bind-Value="Data.Code2236" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent2">2) voor periodes vanaf 1.1.2016:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1340-18</span><InputNumber @bind-Value="Data.Code1340" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2340-85</span><InputNumber @bind-Value="Data.Code2340" class="vak4-amount" /></div>
            </div>
        </div>
    </div>

    <!-- ══ F. INHOUDINGEN AANVULLEND PENSIOEN ══ -->
    <div class="vak2-section-header">F. INHOUDINGEN VOOR AANVULLEND PENSIOEN</div>
    <div class="vak4-header-row"><div></div><div class="vak4-col-head">Belastingplichtige</div><div class="vak4-col-head">Partner</div></div>

    <div class="vak4-row">
        <div class="vak4-q-text">1. Gewone bijdragen en premies:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1285-73</span><InputNumber @bind-Value="Data.Code1285" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2285-43</span><InputNumber @bind-Value="Data.Code2285" class="vak4-amount" /></div>
        </div>
    </div>
    <div class="vak4-row">
        <div class="vak4-q-text">2. Bijdragen en premies voor individuele voortzetting:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1283-75</span><InputNumber @bind-Value="Data.Code1283" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2283-45</span><InputNumber @bind-Value="Data.Code2283" class="vak4-amount" /></div>
        </div>
    </div>
    <div class="vak4-row">
        <div class="vak4-q-text">3. Bijdragen en premies voor een vrij aanvullend pensioen voor werknemers:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1387-68</span><InputNumber @bind-Value="Data.Code1387" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2387-38</span><InputNumber @bind-Value="Data.Code2387" class="vak4-amount" /></div>
        </div>
    </div>
    <div class="vak4-note">(Zie ook het vervolg van vak IV op de volgende blz.)</div>

    <!-- ══ G. OVERUREN MET OVERWERKTOESLAG ══ -->
    <div class="vak2-section-header">G. OVERUREN MET OVERWERKTOESLAG</div>
    <div class="vak4-header-row"><div></div><div class="vak4-col-head">Belastingplichtige</div><div class="vak4-col-head">Partner</div></div>

    <div class="vak4-group">
        <div class="vak4-q-label">Aantal overuren waarvoor u aanspraak maakt op de belastingvermindering voor overwerk:</div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">tot 180 uren:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1305-53</span><InputNumber @bind-Value="Data.Code1305" class="vak4-amount vak4-count" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2305-23</span><InputNumber @bind-Value="Data.Code2305" class="vak4-amount vak4-count" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">tot 280 uren:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1238-23</span><InputNumber @bind-Value="Data.Code1238" class="vak4-amount vak4-count" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2238-90</span><InputNumber @bind-Value="Data.Code2238" class="vak4-amount vak4-count" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">tot 360 uren:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1317-41</span><InputNumber @bind-Value="Data.Code1317" class="vak4-amount vak4-count" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2317-11</span><InputNumber @bind-Value="Data.Code2317" class="vak4-amount vak4-count" /></div>
            </div>
        </div>
    </div>

    <div class="vak4-group">
        <div class="vak4-q-label">Berekeningsgrondslag van de overwerktoeslag:</div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">toeslag van 66,81%:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1233-28</span><InputNumber @bind-Value="Data.Code1233" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2233-95</span><InputNumber @bind-Value="Data.Code2233" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">toeslag van 57,75%:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1234-27</span><InputNumber @bind-Value="Data.Code1234" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2234-94</span><InputNumber @bind-Value="Data.Code2234" class="vak4-amount" /></div>
            </div>
        </div>
    </div>

    <!-- ══ H. BEDRIJFSVOORHEFFING ══ -->
    <div class="vak2-section-header">H. BEDRIJFSVOORHEFFING</div>
    <div class="vak4-header-row"><div></div><div class="vak4-col-head">Belastingplichtige</div><div class="vak4-col-head">Partner</div></div>

    <div class="vak4-group">
        <div class="vak4-q-label">1. Volgens fiches:</div>

        @for (int i = 0; i < Data.Fiches1286.Count; i++)
        {
            var index = i;
            <div class="vak4-subrow vak4-fiche-row">
                <div class="vak4-q-text vak4-indent">
                    @if (i == 0)
                    {
                        <span>Fiche @(i + 1)</span>
                    }
                    else
                    {
                        <span>Fiche @(i + 1)</span>
                        <button type="button" class="btn btn-sm btn-outline-danger ms-2" @onclick="() => RemoveFiche1286(index)" title="Verwijder deze fiche">
                            <span class="material-icons" style="font-size: 1rem;">delete</span>
                        </button>
                    }
                </div>
                <div class="vak4-col-duo">
                    <div class="vak4-input-cell vak4-orange">
                        <span class="vak2-code">(286)</span>
                        <InputNumber @bind-Value="Data.Fiches1286[index]" class="vak4-amount" />
                    </div>
                    <div class="vak4-input-cell vak4-orange">
                        <span class="vak2-code">(286)</span>
                        <InputNumber @bind-Value="Data.Fiches2286[index]" class="vak4-amount" />
                    </div>
                </div>
            </div>
        }

        <!-- Knop om nieuwe fiche toe te voegen -->
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">
                <button type="button" class="btn btn-sm btn-outline-primary" @onclick="AddFiche1286">
                    <span class="material-icons" style="font-size: 1rem; vertical-align: middle;">add</span>
                    Fiche toevoegen
                </button>
            </div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell">
                    <span class="fw-bold">Subtotaal:</span>
                    <span class="vak4-readonly-amount">@Data.Code1286.ToString("N2")</span>
                </div>
                <div class="vak4-input-cell">
                    <span class="fw-bold">Subtotaal:</span>
                    <span class="vak4-readonly-amount">@Data.Code2286.ToString("N2")</span>
                </div>
            </div>
        </div>
    </div>

    <!-- 2. Op niet-op-fiche vakantiegeld (optioneel) -->
    <div class="vak4-row">
        <div class="vak4-q-text">2. Op het niet op een fiche vermelde vakantiegeld vermeld in A, 1, b:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell vak4-orange">
                <span class="vak2-code">(286)</span>
                <InputNumber @bind-Value="Data.Code1286B" class="vak4-amount" />
            </div>
            <div class="vak4-input-cell vak4-orange">
                <span class="vak2-code">(286)</span>
                <InputNumber @bind-Value="Data.Code2286B" class="vak4-amount" />
            </div>
        </div>
    </div>

    <!-- 3. Totaal -->
    <div class="vak4-row">
        <div class="vak4-q-text">3. Totaal van de rubrieken 1 en 2:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell">
                <span class="vak2-code">1286-72</span>
                <span class="vak4-readonly-amount fw-bold">@Data.Total1286.ToString("N2")</span>
            </div>
            <div class="vak4-input-cell">
                <span class="vak2-code">2286-42</span>
                <span class="vak4-readonly-amount fw-bold">@Data.Total2286.ToString("N2")</span>
            </div>
        </div>
    </div>

    <!-- ══ I. BIJZONDERE BIJDRAGE SOCIALE ZEKERHEID ══ -->
    <div class="vak2-section-header">I. BIJZONDERE BIJDRAGE SOCIALE ZEKERHEID</div>
    <div class="vak4-header-row"><div></div><div class="vak4-col-head">Belastingplichtige</div><div class="vak4-col-head">Partner</div></div>

    <div class="vak4-row">
        <div class="vak4-q-text">Ingehouden bijzondere bijdrage voor de sociale zekerheid:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1287-71</span><InputNumber @bind-Value="Data.Code1287" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2287-41</span><InputNumber @bind-Value="Data.Code2287" class="vak4-amount" /></div>
        </div>
    </div>

    <!-- ══ J. OVERHEIDSPERSONEEL ZONDER ARBEIDSOVEREENKOMST ══ -->
    <div class="vak2-section-header">J. OVERHEIDSPERSONEEL ZONDER ARBEIDSOVEREENKOMST</div>
    <div class="vak4-header-row"><div></div><div class="vak4-col-head">Belastingplichtige</div><div class="vak4-col-head">Partner</div></div>

    <div class="vak4-row">
        <div class="vak4-q-text">Behoort u tot het overheidspersoneel dat niet is tewerkgesteld krachtens een arbeidsovereenkomst?</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell">
                <span class="vak2-code">1290-68</span>
                <label><InputCheckbox @bind-Value="Data.Code1290" class="vak2-check" /> Ja</label>
            </div>
            <div class="vak4-input-cell">
                <span class="vak2-code">2290-38</span>
                <label><InputCheckbox @bind-Value="Data.Code2290" class="vak2-check" /> Ja</label>
            </div>
        </div>
    </div>

    <!-- ══ K. WERKBONUS ══ -->
    <div class="vak2-section-header">K. WERKBONUS</div>
    <div class="vak4-header-row"><div></div><div class="vak4-col-head">Belastingplichtige</div><div class="vak4-col-head">Partner</div></div>

    <div class="vak4-row">
        <div class="vak4-q-text">Werkbonus – belastingkrediet van 33,14%:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1284-74</span><InputNumber @bind-Value="Data.Code1284" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2284-44</span><InputNumber @bind-Value="Data.Code2284" class="vak4-amount" /></div>
        </div>
    </div>
    <div class="vak4-row">
        <div class="vak4-q-text">Werkbonus – belastingkrediet van 52,54%:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1360-95</span><InputNumber @bind-Value="Data.Code1360" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2360-65</span><InputNumber @bind-Value="Data.Code2360" class="vak4-amount" /></div>
        </div>
    </div>

    <!-- ══ L. WERKHERVATTINGSLOON ══ -->
    <div class="vak2-section-header">L. WERKHERVATTINGSLOON</div>
    <div class="vak4-header-row"><div></div><div class="vak4-col-head">Belastingplichtige</div><div class="vak4-col-head">Partner</div></div>

    <div class="vak4-row">
        <div class="vak4-q-text">Werkhervattingsloon verkregen van de vroegere werkgever bij werkhervatting als werknemer bij een andere werkgever of als zelfstandige:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1296-62</span><InputNumber @bind-Value="Data.Code1296" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2296-32</span><InputNumber @bind-Value="Data.Code2296" class="vak4-amount" /></div>
        </div>
    </div>

    <!-- ══ M. ROERENDE VOORHEFFING AUTEURSRECHTEN ══ -->
    <div class="vak2-section-header">M. ROERENDE VOORHEFFING OP AUTEURSRECHTEN EN NABURIGE RECHTEN</div>
    <div class="vak4-header-row"><div></div><div class="vak4-col-head">Belastingplichtige</div><div class="vak4-col-head">Partner</div></div>

    <div class="vak4-row">
        <div class="vak4-q-text">Ingehouden roerende voorheffing op auteursrechten en naburige rechten:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1299-59</span><InputNumber @bind-Value="Data.Code1299" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2299-29</span><InputNumber @bind-Value="Data.Code2299" class="vak4-amount" /></div>
        </div>
    </div>

    <!-- ══ N. HELPENDE GEZINSLEDEN VAN ZELFSTANDIGEN ══ -->
    <div class="vak2-section-header">N. HELPENDE GEZINSLEDEN VAN ZELFSTANDIGEN</div>

    <div class="vak4-row">
        <div class="vak4-q-text">
            Deze rubriek is bestemd voor de helpende gezinsleden van een zelfstandige, die inkomsten aangeven die niet onderworpen zijn aan een wettelijk of reglementair stelsel van pensioenen van werklieden, bedienden of personeelsleden van openbare administraties of instellingen.
        </div>
    </div>

    @foreach (var rij in Data.HelpendeGezinsleden)
    {
        <div class="vak4-row">
            <div class="vak4-q-text vak4-indent" style="display:flex;gap:.5rem;align-items:center;">
                <label>Code:</label>
                <InputText @bind-Value="rij.Code" class="vak3-text-input vak3-code-input" placeholder="bv. 1250" />
                <label>Bedrag:</label>
                <InputNumber @bind-Value="rij.Bedrag" class="vak4-amount" />
            </div>
        </div>
    }
    <button type="button" class="vak3-add-btn" @onclick="() => Data.HelpendeGezinsleden.Add(new())">+ rij</button>

    <!-- ══ O. INKOMSTEN VAN BUITENLANDSE OORSPRONG (EN BIJHORENDE KOSTEN) ══ -->
    <div class="vak2-section-header">O. INKOMSTEN VAN BUITENLANDSE OORSPRONG (EN DE BIJHORENDE KOSTEN)</div>

    <div class="vak4-row">
        <div class="vak4-q-text">
            Vermeld hier <strong>alleen</strong> de in de rubrieken A tot E vermelde inkomsten van buitenlandse oorsprong (en de bijhorende kosten) die in de rubrieken O, 1 en O, 2 worden gevraagd.
        </div>
    </div>

    <!-- O, 1 -->
    <div class="vak4-group">
        <div class="vak4-q-label">1. Inkomsten verkregen in Frankrijk of Nederland die daar aan een sociale wetgeving voor werknemers zijn onderworpen en in België niet van belasting zijn vrijgesteld:</div>
        @foreach (var rij in Data.BuitenlandO1)
        {
            <div class="vak3-buitenland-row">
                <div class="vak3-buitenland-cell"><label>Land:</label><InputText @bind-Value="rij.Land" class="vak3-text-input" /></div>
                <div class="vak3-buitenland-cell"><label>Code:</label><InputText @bind-Value="rij.Code" class="vak3-text-input vak3-code-input" /></div>
                <div class="vak3-buitenland-cell"><label>Bedrag:</label><InputNumber @bind-Value="rij.Bedrag" class="vak4-amount" /></div>
                <div class="vak3-buitenland-cell"><label>Kosten:</label><InputNumber @bind-Value="rij.Kosten" class="vak4-amount" /></div>
            </div>
        }
        <button type="button" class="vak3-add-btn" @onclick="() => Data.BuitenlandO1.Add(new())">+ rij</button>
    </div>

    <!-- O, 2 -->
    <div class="vak4-group">
        <div class="vak4-q-label">2. Inkomsten waarvoor u aanspraak maakt op belastingvermindering voor inkomsten van buitenlandse oorsprong of op de afzonderlijke belasting tegen de aanslagvoet van 0&nbsp;%:</div>

        <div class="vak4-q-text vak4-indent"><strong>a) vrijstelling met progressievoorbehoud:</strong></div>
        @foreach (var rij in Data.BuitenlandO2a)
        {
            <div class="vak3-buitenland-row">
                <div class="vak3-buitenland-cell"><label>Land:</label><InputText @bind-Value="rij.Land" class="vak3-text-input" /></div>
                <div class="vak3-buitenland-cell"><label>Code:</label><InputText @bind-Value="rij.Code" class="vak3-text-input vak3-code-input" /></div>
                <div class="vak3-buitenland-cell"><label>Bedrag:</label><InputNumber @bind-Value="rij.Bedrag" class="vak4-amount" /></div>
                <div class="vak3-buitenland-cell"><label>Kosten:</label><InputNumber @bind-Value="rij.Kosten" class="vak4-amount" /></div>
            </div>
        }
        <button type="button" class="vak3-add-btn" @onclick="() => Data.BuitenlandO2a.Add(new())">+ rij</button>

        <div class="vak4-q-text vak4-indent"><strong>b) vermindering van de belasting tot de helft:</strong></div>
        @foreach (var rij in Data.BuitenlandO2b)
        {
            <div class="vak3-buitenland-row">
                <div class="vak3-buitenland-cell"><label>Land:</label><InputText @bind-Value="rij.Land" class="vak3-text-input" /></div>
                <div class="vak3-buitenland-cell"><label>Code:</label><InputText @bind-Value="rij.Code" class="vak3-text-input vak3-code-input" /></div>
                <div class="vak3-buitenland-cell"><label>Bedrag:</label><InputNumber @bind-Value="rij.Bedrag" class="vak4-amount" /></div>
                <div class="vak3-buitenland-cell"><label>Kosten:</label><InputNumber @bind-Value="rij.Kosten" class="vak4-amount" /></div>
            </div>
        }
        <button type="button" class="vak3-add-btn" @onclick="() => Data.BuitenlandO2b.Add(new())">+ rij</button>

        <div class="vak4-q-text vak4-indent"><strong>c) afzonderlijk belastbaar tegen de aanslagvoet van 0&nbsp;%:</strong></div>
        @foreach (var rij in Data.BuitenlandO2c)
        {
            <div class="vak3-buitenland-row">
                <div class="vak3-buitenland-cell"><label>Land:</label><InputText @bind-Value="rij.Land" class="vak3-text-input" /></div>
                <div class="vak3-buitenland-cell"><label>Code:</label><InputText @bind-Value="rij.Code" class="vak3-text-input vak3-code-input" /></div>
                <div class="vak3-buitenland-cell"><label>Bedrag:</label><InputNumber @bind-Value="rij.Bedrag" class="vak4-amount" /></div>
                <div class="vak3-buitenland-cell"><label>Kosten:</label><InputNumber @bind-Value="rij.Kosten" class="vak4-amount" /></div>
            </div>
        }
        <button type="button" class="vak3-add-btn" @onclick="() => Data.BuitenlandO2c.Add(new())">+ rij</button>
    </div>

</EditForm>

@code {
    [Parameter] public VakIVData Data { get; set; } = new();

    private void AddFiche()
    {
        Data.Fiches1250.Add(null);
        Data.Fiches2250.Add(null);
    }

    private void RemoveFiche(int index)
    {
        if (Data.Fiches1250.Count > 1 && index > 0)
        {
            Data.Fiches1250.RemoveAt(index);
            Data.Fiches2250.RemoveAt(index);
        }
    }

    private void AddFiche1286()
    {
        Data.Fiches1286.Add(null);
        Data.Fiches2286.Add(null);
    }

    private void RemoveFiche1286(int index)
    {
        if (Data.Fiches1286.Count > 1 && index > 0)
        {
            Data.Fiches1286.RemoveAt(index);
            Data.Fiches2286.RemoveAt(index);
        }
    }
}

